*,h1{

    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
}

h1{
    font-weight: bolder;
    color: black;
}

.card{

    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
    
}

.skeleton-part .border-part{
    border: 1px solid lightgray;

}

.card-body{

    height: auto;
    width: auto;
}

.card-body,svg{

    
    
    padding: 0px;
    
}

form{

    
    display: flex;
    justify-content: center;
    align-items: center;
}

div.imageUpdated{
    display: none;
}

input,input:focus{
    
    box-shadow: none;
    

    
  }

  input.description-input{

    color: #55595CBF;
    font-size: smaller;
  }

  input.name-input{

    color: #55595C;
  }


  .edit-button:hover{

    transform: scale(1.05);
    cursor: pointer;
    
}
input,input:focus{
    
    box-shadow: none;
    

    
  }

  input.description-input{

    color: #55595CBF;
    font-size: smaller;
  }

  input.name-input{

    color: #55595C;
  }

  table input{

    border: 0;
    outline: 0;
  }


table input[formControlName = "size"]{

    border: none;
    outline: none;
    caret-color: transparent;
    background-color: transparent;
    pointer-events: none; 
  }