<div class="container">
  <h5 class="card-title cart-text">Sepetim</h5>
  <div *ngIf="cartItems.length > 1 else noItem">

    <div class="cart-item" *ngFor="let cartItem of cartItems.slice(1)">
      
      <div class="cart-item-title" style="display: flex;">
      <img mat-card-image [src]="imageUrl+cartItem.productImage">
      <h5 class="card-title">{{cartItem.productName}}</h5>
    </div>
    <div class="quantity">

      
      <button class="reduce-button"  (click)="reduceNumber(cartItem.id)">-</button>
      
      <div>{{cartItem.productNumber}}</div>
      
      <button class="increase-button" (click)="increaseNumber(cartItem.id)">+</button>
      
    </div>
    <p class="card-text">{{cartItem.productPrice| currency : 'USD'}}</p>
      
    </div>
  </div>

  <ng-template #noItem>
    <div>Şu an da sepette mevcut bir ürününüz yok.</div>
  </ng-template>
</div>