<div class="container">
  <h5 class="card-title cart-text"><svg xmlns="http://www.w3.org/2000/svg" width="41" height="41" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
  </svg><div class="number-box"><p>({{this.cartItemNumber}})</p></div></h5>
  <div *ngIf="cartItems.length > 1 else noItem">

    <div class="cart-item" *ngFor="let cartItem of cartItems.slice(1)">
      
      <div class="cart-item-title" style="display: flex;">
      <img mat-card-image [src]="imageUrl+cartItem.productImage">
      <h5 class="card-title">{{cartItem.productName}}</h5>
    </div>
    <div class="quantity">

      
      <button class="reduce-button"  (click)="reduceNumber(cartItem.id)">-</button>
      
      <div>{{cartItem.productNumber}}</div>
      
      <button class="increase-button" (click)="increaseNumber(cartItem.id)">+</button>
      
    </div>
    <p class="card-text">{{cartItem.productPrice| currency : 'USD'}}</p>
      
    </div>
  </div>

   <button class="card-button btn btn-primary mt-3 confirm-button" *ngIf="cartItems.length != 0">SEPETİ ONAYLA</button>

  <ng-template #noItem>
    <div>Şu an da sepette mevcut bir ürününüz yok.</div>
  </ng-template>
</div>

<app-modal></app-modal>

