.show{

    display: flex;
}

.hide{

    display: none;
}

.modal{

    border: 2px solid black;
}

.modal-body{
    padding: 0;
    height: 370px;
    width: 400px;
    position: relative;
}

.modal-body img{

    height: 100%;
    width: 100%;
}

.modal-footer{

    display: flex;
    justify-content: start;
    
}

.cart-button{

    
    

    transition: background-color .5s;
   
}

.cart-button.clicked{

     background-color: white;
    border: 1px black solid;
    color: black;
}

.sizes{

    display: flex;
    gap: 2px;
    margin-bottom: 3px;
}
.sizes button{

    box-shadow: none;
    background-color: white;
    background: none;


}

button.selected{

    background-color:black !important;
    color: white;
}

.quantity{

    display: none;
    
}
.quantity.show{

    display: inline-block;
}

.quantity button{

    font-size: large;
}